<!doctype html>

<html lang="en">

  <head>
    <meta charset="utf-8">
    <title>Login</title>

    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}"/>

  </head>

  <body>
    <div id="PINcode">
      <form action='' method='post' name='PINform' id='PINform' autocomplete='off' draggable='true'>
        <p class='form-title'>{{ balance }}</p>
        <br>
        <input type='button' class='Opbutton' name='exit' value='Back' id='1' onclick="location.href='{{ url_for('operations', id=id)}}'"/>
        <br>
        <input type='button' class='Opbutton' name='exit' value='Exit' id='2' onclick="location.href='{{ url_for('login')}}'"/>
      </form>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
    <script src="{{ url_for('static', filename='js/login.js') }}"></script>

  </body>

</html>
